@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #616060;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.mantine-e8sh7b {
  margin-top: 0;
}

/* BASKET */

.basket__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  width: 400px;
}

.basket__items {
  padding: 10px 10px 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 16px 0px;
  margin: 0 8px;
}

.item__details {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100px;
}

.item__delete {
  display: flex;
  cursor: pointer;
}

.basket__body .item:not(:last-child) {
  border-bottom: 3px dotted lightgray;
}

.item__name {
  width: 30%;
}

.item__quantity {
  width: 100%;
  max-width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.item__quantity:focus-visible {
  border-radius: 2px;
  outline: none !important;
  border: 2px solid #5eacd9;
  box-shadow: 0 0 3px black;
}

.item__price {
  width: 100%;
  max-width: 50px;
  text-align: end;
  color: #da7849;
  font-weight: 700;
}

.basket__checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 24px;
  border-top: 1px solid lightgray;
  background-color: #f6f7f5;
}

.total__price {
  font-size: 24px;
  font-weight: bold;
  width: 40%;
}

.checkout__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}

.checkout__btn {
  width: 60%;
  font-size: 16px;
  padding: 12px 0;
  background-color: #5eacd9;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  margin-left: 16px;
  transition: all 300ms ease;
}

.checkout__btn:hover {
  transform: scale(1.05);
}

.clear__btn {
  font-size: 18px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* CURRENCY */

.currency__select {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 40px;
  margin: 10px;
}
