@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #616060;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.mantine-e8sh7b {
  margin-top: 0;
}

.basket__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  padding: 10px;
  width: 400px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 16px 8px;
}

.basket__body .item:not(:last-child) {
  border-bottom: 3px dotted lightgray;
}

.item__name {
  width: 30%;
}

.item__quantity {
  width: 20%;
}

.item__price {
  width: 100%;
  max-width: 50px;
  text-align: end;
}

.basket__checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 24px 12px 12px;
}

.total__price {
  font-size: 24px;
  font-weight: bold;
  width: 40%;
}

.checkout__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}

.checkout__btn {
  width: 60%;
  font-size: 16px;
  padding: 12px 0;
  background-color: #5eacd9;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  margin-left: 16px;
}

.clear__btn {
  font-size: 18px;
}
